<% content_for :menu do%>
<%= render "Partial/menu"%>
<% end %>

<% content_for :sidebar do %>
<%= render "Partial/sidebar"%>
<% end %>

<div class="well">
	<h1> Alla projekt i systemet </h1>

	<% @all_projects.each do |project| %>

	<table class="table">
		<tbody>
			<tr>
				<td><%= link_to project.name, project_path(project) %>

				<% if project.owner_id == @current_user.id %>
				<div class="pull-right">
					<span class="label label-inverse">Admin</span>
				</div>
				
				<% elsif %>

				<% project.users.each do |user| %>
				<% if user.id == @current_user.id %>
				<div class="pull-right">	
					<span class="label"> Medlem </span></td>
				</div>
					
				<% end %>
				<% end %>
				<% end %>
			</tr>
		</tbody>
	</table>

	<% end %>
		<div class="btn">
			<%= link_to 'Visa bara projekt med tickets', :action => "sort" %>
		</div>
</div>