<h1> En användare </h1>

<% @user.inspect %>

<h1> Alla projekt </h1>

<% @projects.each do |project| %>

		<%= link_to project.name %>
		<% project.users.each do |user| %>
			<%= link_to user.first_name, user_path(user) %>

			<%= link_to project.name, project_path(project) %>

		<% end %>	

		
		
<% end %>
		
<% end %>