<% content_for :menu do%>
<%= render "Partial/menu"%>
<% end %>

<% content_for :sidebar do %>
<%= render "Partial/sidebar"%>

			<% end %>
	
			
			<div class="well">
			<h2> Välkommen till Project Manager </h2>
				</div>
				
	





