<DOCTYPE html>
<html>

	
	<head>
		<title>
			
			
		</title>

		 {% block extra_head %}
		 {% endblock %}


	

		<meta name="viewport" content="width=device-width, initial-scale=1.0">	


		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

			
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">



			
	</head>
	

	<body>
		{% block menu %}

			<div class="navbar">
			     <div class="navbar-inner">
			
		      		<a class="brand" href="/index/">AMPTA</a>
		      		
		      			<ul class="nav">
		                <li class="divider-vertical"></li>
		      				  <li><a href ="/index/">Start</a></li>
		                <li class="divider-vertical"></li>
		          			<li><a href="{% url project_list %}"> Alla projekt </a></li>
		                <li class="divider-vertical"></li>
		          			<li><a href="{% url project_add %}">Skapa projekt </a></li>
		                <li class="divider-vertical"></li>
		               
		        		</ul>

		            <p class="pull-right"><a href="{% url logout %}">Logga ut </a></p>
		            <p class="pull-right">Inloggad som: {{ user.get_full_name }} </p> 

		             
		      </div>
		          
		</div>

		{% endblock %}

		{% block sidebar %}
		<div class="container-fluid">
			<div class="row-fluid">

				<div class="span3">
					
					<div class="well">	

						
						<ul class="nav nav-list">
							<li class="nav-header">Dina projekt</li>
							
							{% for project in user_projects %}
							<ul>
								<li>
									<a href="{% url project_show project.id %}"> {{ project }} </a>
								</li>
							</ul>
							{% endfor %}
						</ul>	
						
						<ul class="nav nav-list">
							<li class="nav-header">Dina senaste 10 tickets</li>
							{% for ticket in user_tickets %}
							<ul>
								<li>
									<a href="{% url ticket_show ticket.id %}"> {{ ticket }} </a>
								</li>
							</ul>
							{% endfor %}
						</ul>

				</div>
			</div>
		{% endblock %}

				<div class="span9">
					
						{% block content %}
							<h1>content</h1>
						{% endblock %}

				</div>
			</div>
		</div>

	</body>
</html>