{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}
	Ticket
{% endblock %}

{% block content %}

<div class="well">

	<h1>{{ ticket.ticket_name}} </h1>
	<p> {{ ticket.description }} </p>
	<p><strong>Status. </strong> {{ ticket.status }} </p>
	<p><strong>Ägare: </strong> {{ ticket.user.get_full_name }}</p>
	<p><strong>Startar: </strong> {{ ticket.start_time }} </p>
	<p><strong>Slutar: </strong> {{ ticket.end_time }} </p>

	<div class="my_buttons">
		{% if ticket|ticket_ownership:user %}
			<a href="{% url ticket_edit ticket.id %}" class="btn btn-primary"> Editera ticket </a>
			<a href="{% url ticket_confirm_delete ticket.id %}" class="btn btn-danger"> Ta bort ticket </a>
		{% elif ticket|ticket_project_ownership:user %}
			<a href="{% url ticket_edit ticket.id %}" class="btn btn-primary"> Editera ticket </a>
			<a href="{% url ticket_confirm_delete ticket.id %}" class="btn btn danger"> Ta bort ticket </a>
		{% else %}
		{% endif %}
	</div>

	<div class="success">
		{% for message in flash.notice %}
		<div class="alert alert-success">
			{{ message }}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}



