{% extends 'shared/base.html' %}

{% block content %}
<div class="well">
	<h5>{{ message }} {{ project }}?</h5>
	<a class="btn btn-primary" href="{% url project_show project.id %}">Avbryt</a> 
    <form action="{% url project_delete project.id %}" method="post"> {% csrf_token %}
        <input type="hidden" name="next" value="{% url project_show project.id %}" />
        <div class="confirm">
        <input type="submit" value="Ta bort projekt" class="btn btn-danger"/>
        </div>
    </form>
</div>
{% endblock %}