{% extends 'shared/base.html' %}

{% block title %}
	Alla projekt
{% endblock %}


<div class="well">
	{% block content %}
	<h1>Alla projekt i systemet</h1>

	{% for project in projects %}

	<table class="table">
		<tbody>
			<tr>
				<td><a href="{% url project_show project.id %}"> {{ project }} </a>

				{% if project.owner == user %}
				<div class="pull-right">	
					<span class="label"> Admin </span></td>
				</div>
				
				{% else %}
				
					{% for users in project.users.all %}
					{% if users == user %}
					<div class="pull-right">
						<span class="label label-inverse">Medlem</span>
					</div>
				{% endif %}

					{% endfor %}
				
				
				
				
				{% endif %}
				
				
				
				
				
			</tr>
		</tbody>
	</table>
	{% endfor %}

	{% endblock %}

</div>

