{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}
	Projekt
{% endblock %}

{% block content %}

<div class="well">

	<h1>{{ project.project_name}} </h1>
	<p> {{ project.description }} </p>
	<p><strong>Startdatum: </strong> {{ project.start_date|date:"Y-m-d" }} </p>
	<p><strong>Slutdatum: </strong> {{ project.end_date|date:"Y-m-d" }} </p>
		
	<p><strong>Medlemmar i projektet: </strong></p>
		<ul>
			{% for user in project.users.all %}
				<li> {{ user.get_full_name }} </li>
			{% endfor %}
		</ul>
	<p><strong>Tickets: </strong></p>

	{% if not project.tickets.all %}
		<p> Projektet har inga tickets </p>
	{% endif %}
	<ul>
		{% for ticket in project.tickets.all %}
			<li><a href="{% url ticket_show ticket.id %}"> {{ ticket }} </a></li>
		{% endfor %}
	</ul>
		
	<a class="btn btn-info" href="{% url ticket_add project.id %}"> Lägg till ticket </a>
	
	<div class="my_buttons">
		{% if project|ownership:user %}
			<a class="btn btn-primary" href="{% url project_edit project.id %}"> Editera projekt </a>
			<a class="btn btn-danger" href="{% url project_confirm_delete project.id %}"> Ta bort projekt </a>
		{% else %}
		{% endif %}
	</div>

	<div class="success">
		{% for message in flash.notice %}
		<div class="alert alert-success">
			{{ message }}
		</div>
		{% endfor %}
	</div>
		
</div>
{% endblock %}



