
<div class="well">	
	<ul class="nav nav-list">
		<li class="nav-header">Projekt du har skapat</li>

			<% if @admin_projects.empty? %>
  				<p> Du har inte skapat n책gra projekt </p>
			<% else %>
			
				<% @admin_projects.each do |project| %>
					
					<li>
					<%= link_to project.name, project_path(project) %>
					</li>

				<% end %>
			<% end %>
			
	</ul>

	<ul class="nav nav-list">
		<li class="nav-header">Projekt du 채r medlem i</li>

			<% if @projects.empty? %>
  				<p> Du 채r inte medlem i n책gra projekt </p>
			<% else %>
			
				<% @projects.each do |project| %>
					
					<li>
					<%= link_to project.name, project_path(project) %>
					</li>

				<% end %>
			<% end %>
			
	</ul>

	<ul class="nav nav-list">
		<li class="nav-header">Dina senaste 10 tickets</li>

			<% if @tickets_for_user.empty? %>
  				<p> Du har inga tickets </p>
			<% else %>

				<% @tickets_for_user.each do |ticket| %>
					<li>
						<%= link_to ticket.name, ticket_path(ticket) %>
					</li>
				<% end %>
			<% end %>

</div>

	