{% extends "shared/base.html" %}

{% block title %}
	Logga in
{% endblock %}

{% block menu %}
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block content %}

<div class="login">
	<div class="well">
		<h1 class="form-signin-heading"> Logga in </h1>

		<form action="{{login_user}}" method="POST"> {% csrf_token %}
			{% if form.username.errors %}
				<div class="alert alert-error"><p> {{ form.username.errors }} </p></div>
			{% endif %}
			<p> Användarnamn: </ br>{{ form.username }}</p>
			{% if form.password.errors %}
				<div class="alert alert-error"><p> {{ form.password.errors }} </p></div>
			{% endif %}
			<p> Lösenord: </ br>{{ form.password }}</p>
			
			<input type="submit" value="Logga in" class="btn btn-primary" />
		</form>
	</div>
</div>

<div class="login-error">
	{% if message %}
		<div class="alert alert-error"> 
			{{ message }}
		</div>
	{% endif %}
</div>




{% endblock %}