{% extends "shared/base.html" %}

{% block title %}
	Logga in
{% endblock %}

{% block menu %}
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block content %}

<div class="login">
	<div class="well">
		<h1 class="form-signin-heading"> Logga in </h1>
		<form action="{{login_user}}" method="POST"> {% csrf_token %}
			<p> Användarnamn: </ br>{{ form.username }}</p>
			<p> Lösenord: </ br>{{ form.password }}</p>
			<input type="submit" value="Logga in" class="btn btn-primary" />
		</form>
	</div>
</div>

{% if message %}
<div class="alert alert-error"> 
	{{ message }}
</div>
{% endif %}

{% endblock %}